![](https://i0.wp.com/spuriq.com/wp-content/uploads/2019/03/spuriq_site_logo_tagline.png?zoom=2&fit=150%2C69&ssl=1)

# SQL and SQLite

## Setup

In [1]:
import sqlite3

## Creating a Database

In [2]:
mydb = sqlite3.connect("mydatabase.db")
mydb.close()

## Creating a SQL Table

In [3]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (id INTEGER PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")
mydb.close()

## Check If a Table Exists

In [4]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
mycursor.execute("SELECT name from sqlite_master where type='table'")
tableData = mycursor.fetchall()
for x in tableData:
  print(x)
mydb.close()

('customers',)

## Inserting Data Into a Table

In [5]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (?, ?)"
val = [
('Peter', 'Lowstreet 4'),
('Amy', 'Apple st 652'),
('Susan', 'One way 98'),
('Vicky', 'Yellow Garden 2'),
('Ben', 'Park Lane 38'),
]
mycursor.executemany(sql, val)
print(mycursor.rowcount)        # check how many rows entered
mydb.commit()
mydb.close()

5

## Selecting Data From a Table

In [6]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
sql = "SELECT * FROM customers"
mycursor.execute(sql)
tableData = mycursor.fetchall()
for x in tableData:
  print(x)
mydb.commit()
mydb.close()

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Susan', 'One way 98')
(4, 'Vicky', 'Yellow Garden 2')
(5, 'Ben', 'Park Lane 38')

## Using the WHERE Clause

In [7]:
# "SELECT name, address FROM customers"
# "SELECT name, address FROM customers WHERE address = 'Lowstreet 4'"
# "SELECT name, address FROM customers WHERE address LIKE %way%"

In [8]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
mycursor.execute("SELECT name, address FROM customers WHERE address = 'Lowstreet 4'")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
mydb.close()

('Peter', 'Lowstreet 4')

## Ordering SQL Results

In [9]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
mydb.close()

(2, 'Amy', 'Apple st 652')
(5, 'Ben', 'Park Lane 38')
(1, 'Peter', 'Lowstreet 4')
(3, 'Susan', 'One way 98')
(4, 'Vicky', 'Yellow Garden 2')

In [10]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
mydb.close()

(4, 'Vicky', 'Yellow Garden 2')
(3, 'Susan', 'One way 98')
(1, 'Peter', 'Lowstreet 4')
(5, 'Ben', 'Park Lane 38')
(2, 'Amy', 'Apple st 652')

## Updating Table Records

In [11]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
oldaddress = 'One way 98'
newaddress = 'Canyon 123'
val = (newaddress, oldaddress)
sql = "UPDATE customers SET address = ? WHERE address = ?"
mycursor.execute(sql, val)
mydb.commit()
mydb.close()

## Deleting Table Records

In [12]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
address = 'Lowstreet 4'
val = (address,)
sql = "DELETE FROM customers WHERE address = ?"
mycursor.execute(sql, val)
mydb.commit()
mydb.close()

## Deleting a Table

In [13]:
import sqlite3
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
sql = "DROP TABLE customers"
mycursor.execute(sql)
mydb.close()

In [14]:
mydb = sqlite3.connect("mydatabase.db")
mycursor = mydb.cursor()
sql = "DROP TABLE IF EXISTS customers"
mycursor.execute(sql)
mydb.close()

## Joining Tables

In [15]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

In [16]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

In [17]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"